.edit-personal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;

  input,
  textarea {
      @extend .input;
      margin-top: 1rem;
  }

  .edit-profile__form--interests {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .edit-profile__form--buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
    gap: $defMargin;
    flex-wrap: wrap;

    @media (min-width: 480px) {
      flex-direction: row;
    }

    .cancel {
      @extend .btn;
      @extend .btn-animation;
      @extend .btn-secondary;
    }

    .submit {
      @extend .btn;
      @extend .btn-animation;
      @extend .btn-primary;
      padding: 1rem;
    }
  }
}
