.btn {
  display: flex;
  padding: 1.2rem $defMargin;
  background-color: transparent;
  color: getColor(text-primary);
  border: none;
  cursor: pointer;
  justify-content: center;
}

.btn-animation {
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

.btn-primary {
  background: $gradient;
  border-radius: $defRadius - 0.4rem;
  color: getColor(text-inverted);
}

.btn-secondary {
  padding: 0.9rem $defMargin;
  border-radius: $defRadius - 0.4rem;
  background: getColor(secondary);
  text-decoration: none;

  &:hover,
  &.active {
    background: getColor(secondary-hover);
  }
  &.active {
    color: getColor(primary);
  }
  &:disabled {
    background-color: getColor(base);
    color: getColor(text-secondary);
  }
}

.btn-link {
  color: getColor(primary);
  text-decoration: underline getColor(primary);
  cursor: pointer;
}

.btn-link-secondary {
  color: getColor(text-secondary);
  padding: 0.3rem $defMargin;
  margin-top: 0.5rem;
  margin-bottom: $defMargin;

  &:hover,
  &.active {
    color: getColor(primary);
    background-color: getColor(secondary-hover);
  }
}

.btn-icon-left {
  margin-right: $defMargin - 1rem;
}
.btn-icon-right {
  margin-left: $defMargin - 1rem;
}

.btn-circle {
  border-radius: 100%;
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-profile {
  height: 4rem;
  border-radius: 8rem;
  overflow: hidden;
  padding: 1px;
  img {
    display: block;
    height: 100%;
    border-radius: 100%;
  }
  span {
    display: none;
    margin: auto 1.5rem auto 1rem;
    @media (min-width: 768px) {
      display: block;
    }
  }
}

.btn-menu {
  width: 100%;
  padding: 1.3rem $defMargin;
  justify-content: space-between;
  align-items: center;
  font-size: $fontSize;
  border-radius: $defRadius;
  background-color: getColor(menu);
  text-decoration: none;
  transition: all ease 0.3s;
  font-weight: 600;

  animation: fadeIn;
  animation-duration: $animationDuration;

  .btn-menu-icon {
    font-size: $fontSize + 0.4rem;
    margin-right: $defMargin;
  }

  &:hover,
  &:active,
  &.active {
    i {
      color: getColor(primary);
    }
    background-color: getColor(menu-hover);
  }
}

.btn-outline {
  padding: 0.5rem 0.8rem;
  border: getColor(text-primary) solid 1px;
  border-radius: $defRadius - 0.3rem;
  svg {
    margin-right: 0.5rem;
  }

  &:hover,
  &.selected:hover {
    border: getColor(outline-background) solid 1px;
    background-color: getColor(outline-background);
    color: getColor(outline-color);
  }

  &.selected {
    color: getColor(text-secondary);
    border: getColor(text-secondary) solid 1px;
  }
}

.dropdown {
  position: relative;

  .dropdown-btn {
    @extend .btn;
    @extend .btn-link-secondary;
    @extend .btn-animation;

    margin: 0;
    padding: 0.5rem;
  }

  .dropdown-btn:focus ~ .menu-dropdown {
    opacity: 1;
    visibility: visible;
  }

  .menu-dropdown {
    box-shadow: 0px 2px 10px 1px getColor(base);
    background-color: getColor(secondary);
    border-radius: $defRadius;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;

    & .item {
      width: 100%;
    }
  }
}
