.btn {
  display: flex;
  padding: 1.2rem $defMargin;
  background-color: transparent;
  color: getColor(text-primary);
  border: none;
  cursor: pointer;
  justify-content: center;
}

.btn-animation {
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

.btn-primary {
  background: $gradient;
  border-radius: $defRadius - 0.4rem;
}

.btn-secondary {
  border-radius: $defRadius - 0.4rem;
  background: getColor(secondary);

  &:hover {
    background: getColor(secondary-hover);
  }
}

.btn-link {
  color: getColor(primary);
}

.btn-link-secondary {
  color: getColor(text-secondary);
  padding: 0.3rem $defMargin;
  margin-top: 0.5rem;
  margin-bottom: $defMargin;

  &:hover {
    color: getColor(primary);
    background-color: getColor(secondary-hover);
  }
}

.btn-icon-left {
  margin-right: $defMargin - 1rem;
}
.btn-icon-right {
  margin-left: $defMargin - 1rem;
}

.btn-circle {
  border-radius: 100%;
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-profile {
  height: 4rem;
  border-radius: 8rem;
  overflow: hidden;
  padding: 1px;
  img {
    display: block;
    height: 100%;
    border-radius: 100%;
  }
  span {
    display: none;
    margin: auto 1.5rem auto 1rem;
    @media (min-width: 768px) {
      display: block;
    }
  }
}

.btn-menu {
  width: 100%;
  padding: 1.3rem $defMargin;
  justify-content: space-between;
  align-items: center;
  font-size: $fontSize - 0.2rem;
  border-radius: $defRadius;
  background-color: getColor(menu);
  text-decoration: none;
  transition: all ease 0.3s;

  animation: fadeIn;
  animation-duration: $animationDuration;

  .btn-menu-icon {
    font-size: $fontSize + 0.2rem;
    margin-right: $defMargin;
  }
  .btn-menu-arrow {
    color: getColor(primary);
  }

  &:hover,
  &:active,
  &.active {
    color: getColor(primary);
    background-color: getColor(menu-hover);
  }
}

.btn-outline {
  padding: 0.5rem 0.8rem;
  border: getColor(text-primary) solid 1px;
  border-radius: $defRadius - 0.3rem;
  svg {
    margin-right: 0.5rem;
  }

  &:hover,
  &.selected:hover {
    background-color: getColor(text-primary);
    color: getColor(menu);
  }

  &.selected {
    color: getColor(text-secondary);
    border: getColor(text-secondary) solid 1px;
  }
}
