.card-category {
  background-color: $background;
  border-radius: $defRadius;

  height: 15rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;

  .card-category__icon{
      font-size: 4rem;
  }
}
