.input {
  border: none;
  padding: 1rem 2rem;
  background: none;
  outline:  getColor(text-secondary) solid 1px;
  border-radius: $defRadius;
  color: getColor(text-primary);

  &:focus{
    outline: getColor(primary) solid 2px;
  }
}

.input-secondary {
  border-radius: 8rem;
}

.check {
  input {
    display: none;
  }

  input:checked ~ label {
    border: 2px solid getColor(primary);

    svg {
      color: getColor(primary);
    }
  }

  label {
    display: inline-block;
    user-select: none;
    padding: 0.5rem 2rem;
    border: 2px solid getColor(text-secondary);
    border-radius: 2rem;
    transition: all ease 0.3s;
    font-size: $fontSize - 0.2rem;

    svg {
      transition: all ease 0.3s;
    }
  }
}

.form-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.full{
    align-items: stretch;
  }

  label{
    margin-bottom: 1rem;
    font-size: $fontSize - 0.2rem;
  }

  .form-input{
    margin-bottom: 2rem;
  }
}