.input {
  border: none;
  padding: 1rem 2rem;
  background: none;
  border-radius: $defRadius;
  box-shadow: 0px 0px 0px 1px getColor(text-secondary);
  color: getColor(text-primary);

  &:focus {
    box-shadow: 0px 0px 0px 2px getColor(primary);
    outline: none;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px getColor(secondary-hover) inset !important;
    -webkit-text-fill-color: getColor(text-primary);
  }
}

.input-secondary {
  border-radius: 8rem;
}

.check {
  input {
    display: none;
  }

  input ~ label {
    cursor: pointer;
  }

  input:checked ~ label {
    border: 2px solid getColor(primary);
    background-color: getColor(primary);

    svg {
      color: getColor(primary);
    }
  }

  label {
    display: inline-block;
    user-select: none;
    padding: 0.5rem 2rem;
    border: 2px solid getColor(text-secondary);
    border-radius: 2rem;
    transition: all ease 0.3s;
    font-size: $fontSize - 0.2rem;

    svg {
      transition: all ease 0.3s;
    }
  }
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;

  &.full {
    align-items: stretch;
  }

  label {
    margin-bottom: 1rem;
    font-size: $fontSize - 0.2rem;
  }
}

.seeker {
  height: 4.8rem;
  width: 100%;
  position: relative;
  margin: 0 1rem;

  @media (min-width: 480px) {
    margin: 0;
  }

  .seeker-input {
    @extend .input;

    width: 100%;
    height: 100%;
    padding: 0.8rem;
    padding-left: 4.8rem;
  }

  .seeker-icon {
    position: absolute;
    width: 1.6rem;
    height: 100%;
    margin-left: $defMargin;
    color: getColor(text-primary);
    display: flex;
    align-items: center;
  }
}

textarea {
  font-family: sans-serif;
}

.username-input {
  position: relative;
  .input {
    padding-left: 5rem;
    width: 100%;
    margin: 0;
  }

  &::after {
    position: absolute;
    content: "@";
    top: 0;
    left: 0;
    height: 100%;
    width: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    color: getColor(text-primary);
    background-color: getColor(menu-hover);
    border-radius: $defRadius 0 0 $defRadius;
  }
}
