.text-none {
  text-decoration: none;
}

.text-xs {
  font-size: $fontSize - 0.3rem;
}
.text-sm {
  font-size: $fontSize - 0.2rem;
}
.text-md {
  font-size: $fontSize;
}

.d-in-block {
  display: inline-block;
}
.d-flex {
  display: flex;
}

.w-100{
  width: 100%;
}

.profile-image {
  display: block;
  height: 4rem;
  width: 4rem;
  min-height: 4rem;
  min-width: 4rem;

  &.xs {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
  }

  &.lg {
    height: 10rem;
    width: 10rem;
    min-height: 10rem;
    min-width: 10rem;
  }

  &.loading::after {
    border-radius: 100%;
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }
}

.loading {
  position: relative;
}
.loading::after {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  border-radius: $defRadius;
  content: "";

  background: linear-gradient(
    90deg,
    getColor(loading-first) 30%,
    getColor(loading-second) 50%,
    getColor(loading-first) 70%
  );
  background-size: 300% 100%;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
