.layout {
  height: 100%;
  padding-top: #{$navbarHeight + $defMargin};
  display: flex;

  .menu {
    display: none;
    width: $menuWidth;
    padding: 0 $defMargin;
    height: calc(100% - #{$navbarHeight + $defMargin});
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    user-select: none; 
    
    @media (min-width: 1200px) {
      display: block;
    }
  }

  .main-center {
    flex-grow: 1;
    padding: 0 $defMargin;
    @media (min-width: 768px) {
      margin: 0 $footerWidth 0 0;
    }
    @media (min-width: 1200px) {
      margin: 0 $footerWidth 0 $menuWidth;
    }
  }

  .main-full {
    flex-grow: 1;
    padding: 0 $defMargin;

    @media (min-width: 1200px) {
      margin: 0 $defMargin 0 $menuWidth;
    }
  }

  .footer {
    display: none;
    width: $footerWidth;
    padding: 0 $defMargin;
    height: calc(100% - #{$navbarHeight + $defMargin});
    position: fixed;
    bottom: 0;
    right: 0;
    overflow-y: auto;

    @media (min-width: 768px) {
      display: block;
    }
  }
}
