.layout {
  height: 100%;
  padding-top: #{$navbarHeight + $defMargin};

  .menu {
    display: none;
    width: 100%;
    padding: $defMargin;
    height: calc(100% - #{$navbarHeight});
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    background-color: $base;
    z-index: 5;
    user-select: none;

    animation: slideInDown;
    animation-duration: $animationDuration;

    &.show {
      display: block;
    }

    @media (min-width: 1200px) {
      display: block;
      width: $sideWidth;
      left: calc(50% - #{$mainWidth + $defMargin*2});
      height: calc(100% - #{$navbarHeight + $defMargin});
      padding-top: 0;

      animation: fadeInLeft;
      animation-duration: $animationDuration;
    }
  }

  .main-center {
    max-width: #{$mainWidth};
    margin: 0 auto;
    padding: 0 $defMargin;
    animation: fadeIn;
    animation-duration: $animationDuration;

    @media (min-width: 768px) {
      margin: 0 calc(50% - #{$sideWidth/2 + $mainWidth/2});
    }
    @media (min-width: 1200px) {
      margin: 0 auto;
    }
  }

  .main-full {
    padding: 0 $defMargin;
    background-color: blue;

    animation: fadeIn;
    animation-duration: $animationDuration;

    @media (min-width: 1200px) {
      margin: 0 0 0 calc(50% - #{$sideWidth - $defMargin*2});
      max-width: #{$mainWidth + $sideWidth - $defMargin};
    }
  }

  .footer {
    display: none;
    width: $sideWidth;
    padding: 0 $defMargin;
    height: calc(100% - #{$navbarHeight + $defMargin});
    position: fixed;
    bottom: 0;
    overflow-y: auto;

    animation: fadeInRight;
    animation-duration: $animationDuration;

    @media (min-width: 768px) {
      display: block;
      right: calc(50% - #{$sideWidth/2 + $mainWidth/2});
    }
    @media (min-width: 1200px) {
      display: block;
      right: calc(50% - #{$mainWidth + $defMargin*2});
    }
  }
}
