// Global Styles
:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: $base;
  color: $text-primary;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 100%;
}
body {
  font-size: 1.6rem;
  flex-grow: 1;
}

#root {
  height: 100%;
}