// Variables and defaults

$colors-dark: (
  base: #000000,
  background: #151621,
  primary: #c92549,
  text-primary: #ffffff,
  text-secondary: #8a8a8a,
);

$colors-light: (
  base: #ffffff,
  background: #c0c0c0,
  primary: #c92549,
  text-primary: #000000,
  text-secondary: #525252,
);

:root {
  @each $name, $color in $colors-light {
    --color-#{$name}: #{$color};

    @for $i from 1 through 4 {
      --color-#{$name}-d-#{$i*5}: #{lighten($color, $i * 5)};
    }
    @for $i from 1 through 4 {
      --color-#{$name}-l-#{$i*5}: #{darken($color, $i * 5)};
    }
  }

  @media (prefers-color-scheme: dark) {
    @each $name, $color in $colors-dark {
      --color-#{$name}: #{$color};

      @for $i from 1 through 4 {
        --color-#{$name}-d-#{$i*5}: #{darken($color, $i * 5)};
      }
      @for $i from 1 through 4 {
        --color-#{$name}-l-#{$i*5}: #{lighten($color, $i * 5)};
      }
    }
  }
}

@function getColor($color-name) {
  @return var(--color-#{$color-name});
}

$gradient: linear-gradient(95deg, getColor(primary), getColor(primary-d-20));

$defMargin: 1.6rem;
$defRadius: 0.8rem;
$fontSize: 1.6rem;
$animationDuration: 0.5s;

$navbarHeight: 6rem;
$sideWidth: 28rem;
$mainWidth: 50rem;
